<form id="add-folder" method="POST" action="{{ url_for('folder.create') }}" class="dialog">
	<section>
		<header>
			<h3>Add new subfolder</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<input type="hidden" name="root" value="{{ widget.root }}">
			<p><input name="name" autocomplete="off" required></p>
		</main>
		<footer>
			<nav>
				<button type="submit"><b>Add</b></button>
			</nav>
		</footer>
	</section>
</form>
