<div id="add-tags" class="dialog">
	<section>
		<header>
			<h3>Add tags</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<p><input name="tagstr" placeholder="tags, comma separated" list="tags" autocomplete="off"></p>
			<datalist id="tags">
			{% for tag in tagCloud() %}
			  <option value="{{ tag.tag }}">
			{% endfor %}
			</datalist>
		</main>
		<footer>
			<nav>
				<button type="submit" name="action" value="addtags"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</div>
