<div id="add-to-collection" class="dialog">
	<section>
		<header>
			<h3>Add to collection</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			{% set colls = collectionsCloud().fetchall() %}
			{% if colls|length > 0 %}
			<p><label><input type="radio" name="subaction" value="appendto" checked>Add to existing collection</label></p>
			<p><select name="collectionid">
			{% for coll in collectionsCloud() %}
				<option value="{{ coll.id }}">{{ coll.name }}</option>
		  	{% endfor %}
			</select></p>
			<hr>
			{% endif %}

			<p><label><input type="radio" name="subaction" value="addnew" checked>Create new collection</label></p>
			<p><input name="collname" placeholder="collection name" autocomplete="off"></p>
			<p><label>Comment:<textarea name="collcomment"></textarea></label></p>
		</main>
		<footer>
			<nav>
				<button type="submit" name="action" value="addtocollection"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</div>
