<div id="collections" class="dialog">
	<section>
		<header>
			<h3>Collections</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
				{% for coll in collectionsCloud() %}
				<p>
					<a href="{{ url_for('collectionsearch', {'cid':coll.id}, stateQuery({'q':null,'p':null})) }}">{# clear query and page opening a collection #}
						{{ coll.name }} <span class="pill" title="{{ coll.n_photos }} photos in this collection">{{coll.n_photos}}</span>
					</a>
				</p>
				{% endfor %}
		</main>
	</section>
</div>
