<form id="delete-tag-{{tag.id}}" class="dialog" method="POST" action="{{ url_for('tagdelete', {'tid':tag.id}) }}">
	<section>
		<header>
			<h3>Delete tag</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ url_for(searchroute, {'cid':collection.id}, stateQuery({'q':null,'p':null})) }}">
			<p>Delete tag <a><tt>{{ tag.tag  }}</tt></a> ?</p>
			<p>Will remove the tag from all tagged photos</p> 
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" class="danger"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</form>
