{# delete photos in batch #}
<div id="delete-photos" class="dialog">
	<section>
		<header>
			<h3>Delete photos</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ url_for(searchroute, {'cid':collection.id}, stateQuery()) }}">
			<p>Delete selected photos.</p>
			<p>Are you sure?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" name="action" value="delete" class="danger"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</div>
