<form id="delete-photo" class="dialog" method="POST" action="{{ url_for('deletephoto', {'id':photo.id}) }}">
	<section>
		<header>
			<h3>Delete photo</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ url_for(searchroute, {'cid':collection.id}, stateQuery()) }}">
			<p>Deleting the photo<br><tt>{{ photo.filename }}</tt></p>
			<p>Are you sure?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" class="danger"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</form>
