<form id="edit-tag-{{tag.id}}" class="dialog" method="POST" action="{{ url_for('tagrename', {'tid':tag.id}) }}">
	<section>
		<header>
			<h3>Edit tag</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p><input name="tag" autocomplete="off" value="{{ tag.tag }}"></p>
		</main>
		<footer>
			<nav>
				<button type="submit"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</form>
