<div id="edit-collection" class="dialog">
	<section>
	<form method="POST" action="{{  url_for('collectionedit', {'cid':collection.id}) }}">
		<header>
			<h3>Edit collection</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>
				<input name="collname"
				   value="{{  collection.name }}"
				   placeholder="collection name"
				   autocomplete="off">
			</p>
			<p>
				<label>Comment:
					<textarea name="collcomment">{{ collection.comment }}</textarea>
				</label>
			</p>
		</main>
		<footer>
			<nav>
				<button type="submit" class="danger" name="action" value="deletecollection"><b>Delete collection</b></button>
				<button type="submit" name="action" value="editcollection"><b>Save</b></button>
			</nav>
		</footer>
	</form>
	</section>
</div>
