
<form id="edit" class="dialog" method="POST" action="{{ url_for('editmeta', {'id':photo.id}) }}">
	<section>
		<header>
			<h3>Edit</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			{% for field, value in photo %}
				{% set meta = field_meta(field) %}
				{% if meta.edit %}
					<p>
						<label for={{ field }}>{{ field  }}</label><br>
						{% include [
							"fields/edit/" ~ field ~ ".twig",
							meta.class|replace({'Pholar\\Fields\\':'fields/edit/'}) ~ ".twig",
							"fields/edit/_input.twig"
						] %}
					</p>
				{% endif %}
			{% endfor %}
			<p>
				<label for="tags">tags</label><br>
				<textarea name="tags">{% for tag in tags(photo) %}{{ tag.tag }}, {% endfor %}</textarea>
		</main>
		<footer>
			<nav>
				<button type="submit"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</form>
