<form id="face-delete-{{face.id}}" class="dialog" method="POST" action="{{ url_for('facedelete', {'fid':face.id}) }}">
	<section>
		<header>
			<h3>Delete person</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>Delete {% if face.name != "" %}{{ face.name  }}{% endif %} from this photo?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" class="danger"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</form>
