
<form id="face-edit-{{ face.id }}" class="dialog" method="POST" action="{{ url_for('facerename', {'fid':face.id}) }}">
	<section>
		<header>
			<h3>Edit name</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>
				<label for="name">name</label><br>
				<input name="name" value="{{ face.name }}">
			</p>
		</main>
		<footer>
			<nav>
				<button type="submit"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</form>
