<form id="logout" class="dialog" method="POST" action="{{ url_for('logout') }}">
	<section>
		<header>
			<h3>Logout</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>Are you sure?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" class="danger"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</form>
