<form methd="GET" id="sort" class="dialog" action="{{ current_url(true) }}">
	<section>
		<header>
			<h3>Sort</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<select name="o">
				{% set sel=false %}
				{% for field in fields %}
					{% if field == current %}{% set sel=true %}{% endif %}
					<option value="{{ field }}" {% if field == current %}selected{% endif %}>{{ field }}</option>
				{% endfor %}
				{% if sel == false %}
					<option value="{{ current }}" selected>{{ current }}</option>
				{% endif %}
			</select>
			<button type="submit" name="d" value="ASC" title="Sort ascending"
				class="{% if direction == 'ASC' %}selected{% endif %}">
				<img src="/img/view-sort-descending-symbolic.svg">
			</button>
			<button type="submit" name="d" value="DESC" title="Sort descending"
				class="{% if direction == 'DESC' %}selected{% endif %}">
				<img src="/img/view-sort-ascending-symbolic.svg">
			</button>
			{% if query %}<input type="hidden" name="q" value="{{ query }}">{% endif %}
			{% if page %}<input type="hidden" name="p" value="{{ page }}">{% endif %}
		</main>
	</section>
</form>
