<a href="#sort" title="Sort (current: {{ order_field }}, {% if order_direction == "ASC" %}ascending{% else %}descending{% endif %})"><i>
	{% if order_direction == "ASC" %}
		<img src="/img/view-sort-descending-symbolic.svg">
	{% else %}
		<img src="/img/view-sort-ascending-symbolic.svg">
	{% endif %}
</i></a>
