<nav>
	<ul>
		{% if pagination.page > 1 %}

			{% if pagination.page > 2 %}
			<li><a href="{{ pagination.urlForFirst() }}">1</a></li>
			{% endif %}
			<li><a href="{{ pagination.urlFor(pagination.page-1) }}">prev</a></li>
			{% for p in max(pagination.page-5, 1)..max(min(pagination.page-1, pagination.pages), 1) %}
			<li><a href="{{ pagination.urlFor(p) }}">{{ p }}</a></li>
			{% endfor %}

		{% endif %}

		<li><span>{{ pagination.page }}</span></li>

		{% if pagination.page < pagination.pages %}

			{% for p in min(pagination.page+1, pagination.pages)..min(pagination.page+5, pagination.pages) %}
			<li><a href="{{ pagination.urlFor(p) }}">{{ p }}</a></li>
			{% endfor %}
			<li><a href="{{ pagination.urlFor(pagination.page+1) }}">next</a></li>
			{% if pagination.page < pagination.pages - 1 %}
			<li><a href="{{ pagination.urlForLast() }}">{{ pagination.pages }}</a></li>
			{% endif %}
		{% endif %}
	</ul>
</nav>
