{% set limit = limit ? limit : 10000 %}
{% for p in people[:limit] %}
  {% if p.name != "" %}
    <a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, stateQuery({'q':"people:\"#{p.name}\""})) }}" class="face-pill" data-face-id="{{ p.id }}"><tt>👤{{ p.name }}</tt></a>
  {% endif %}
{% endfor %}
{% if people|length > limit %}<tt title="{{ (people|length) ~ " more people" }}">&#x2026;</tt>{% endif %}
