<div id="help" class="dialog">
	<section>
		<header>
			<h3>Search help</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<p>Search for single word:<br><tt>cat</tt></p>
			<p>Search for phrase:<br><tt>"red cat"</tt></p>
			<p>Search for specific field: <br><tt>rating:5</tt> <tt>comment:"red cat"</tt></p>
			<p>Search for tag: <br><tt>tag:dog</tt> <tt>tag:"good dog"</tt></p>
			<p>Multiple word, phrases, fields and tags are matched with AND:
				<tt>cat "good dog" rating:5 tag:cat tag:red</tt> 
				returns photos that match all of the terms</p>
			<p>Same field defined multiple times is matched with OR:
				<tt>colors:bw ratio:landscape ratio:portrait</tt></p>
		</main>
		<footer>
			<nav>
				<ul>
				<li>&#x25cf;</li>
				<li><a href="#help-2">&#x25cb;</a></li>
				</ul>
			</nav>
		</footer>
	</section>
</div>

<div id="help-2" class="dialog">
	<section>
		<header>
			<h3>Search help</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<p>Advanced search syntax for fields</p>
			<p><b>Numeric fields</b>: prepend value with one of
			<tt>&lt;</tt>, <tt>&gt;</tt>, <tt>&lt;=</tt>, <tt>&gt;=</tt> or <tt>!=</tt>.
			eg: <tt>rating:&gt;=3</tt></p>
			<p><b>Boolean fields</b>: any of this value are valid:
				<tt>true</tt>, <tt>false</tt>, <tt>yes</tt>, <tt>no</tt>,
				<tt>t</tt>, <tt>f</tt>, <tt>y</tt>, <tt>n</tt>.</p>
			<p><b>Color field</b>: any of this value are valid:
				<tt>c</tt>, <tt>color</tt>, <tt>colour</tt>, <tt>bw</tt>,
				<tt>gray</tt>, <tt>grey</tt>, <tt>grayscale</tt>, <tt>greyscale</tt></p>
			<p><b>Ratio field</b>: any of this value are valid:
				<tt>h</tt>, <tt>horizontal</tt>, <tt>l</tt>, <tt>landscape</tt>,
				<tt>v</tt>, <tt>vertical</tt>, <tt>p</tt>, <tt>portrait</tt>,
				<tt>s</tt>, <tt>square</tt> or can be queried as a numeric value, eg:
				<tt>ratio:&lt;1</tt> is equivalent to <tt>ratio:portrait</tt></p>
			<p><b>Byte size fields</b>: is a numeric field.
				<tt>KB</tt>, <tt>MB</tt> or <tt>GB</tt> can be added to value to
				indicate a power of 1024. eg: <tt>filesize:&lt;2KB</tt></p>
		</main>
		<footer>
			<nav>
				<ul>
				<li><a href="#help">&#x25cb;</a></li>
				<li>&#x25cf;</li>
				</ul>
			</nav>
		</footer>
	</section>
</div>
