<form id="share-collection" class="dialog" method="POST" action="{{  url_for('sharecreate', {'cid':collection.id}) }}">
	<section>
		<header>
			<h3>Create new share</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>
				<label for="valid_from">Valid from</label>
				<input type="date" name="valid_from" value="{{ date().format("Y-m-d") }}">
			</p>
			<p>
				<label for="valid_from">Valid until</label>
				<input type="date" name="valid_until" value="">
			</p>
			<p>
				<label for="valid_from">Optional password</label>
				<input type="password" name="password" value="">
			</p>
			<p>Permissions:<br>
				<label><input type="checkbox" name="can_download" checked>Can download</label><br>
				<label><input type="checkbox" name="can_details" checked>Can view details</label>
			</p>

		</main>
		<footer>
			<nav>
				<a href="#"><b>Cancel</b></a>
				<button type="submit"><b>Share</b></button>
			</nav>
		</footer>
	</section>
</form>
