<div id="shares" class="dialog">
	<section>
		<header>
			<h3>Shares</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			{% for share in shares %}
				<dl>
					<dt><a href="#share-{{ share.shareuid  }}">{{ share.shareuid }}</a></dt>
					<dd><small>
					{% if share.password %}<img src="/img/lock-small-symbolic.svg" style="vertical-align: text-bottom;filter: invert();" >{% endif %}
					{% if share.valid_from %}from {{ share.valid_from }}{% endif %}
					{% if share.valid_until %}until {{ share.valid_until }}{% endif %}
					{% if user.is_admin %}shared by <tt>{{ share.user }}</tt>{% endif %}
					</small></dd>
				</p>

			{% endfor %}
		</main>
		<footer>
			<nav>
				<a href="#share-collection"><b>New Share</b></a>
				<a href="#"><b>Ok</b></a>
			</nav>
		</footer>
	</section>
</div>
