<form id="share-{{ share.shareuid }}" class="dialog" method="POST" action="{{ url_for('shareedit', {'cid': collection.id, 'suid': share.shareuid}) }}">
	<section>
		<header>
			<h3>Share</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>
				<label>Share url:</label>
				<input readonly value="{{ full_url_for('sharesearch', {'sid':share.shareuid}) }}">
			</p>
			{% if share.password %}
				<p><img src="/img/lock-small-symbolic.svg" style="vertical-align: text-bottom;filter: invert();" > With password</p>
			{% endif %}
			<p>
				<label for="valid_from">Valid from</label>
				<input type="date" name="valid_from" value="{{ share.valid_from }}">
			</p>
			<p>
				<label for="valid_from">Valid until</label>
				<input type="date" name="valid_until" value="{{ share.valid_until }}">
			</p>
			<p>Permissions:<br>
				<label><input type="checkbox" name="can_download" {%if share.can_download%}checked{%endif%}>Can download</label><br>
				<label><input type="checkbox" name="can_details" {%if share.can_details%}checked{%endif%}>Can view details</label>
			</p>
		</main>
		<footer>
			<nav>
				<button type="submit" class="danger" name="action" value="remove"><b>Remove Share</b></button>
				<button type="submit" name="action" value="edit"><b>Save</b></button>
			</nav>
		</footer>
	</section>
</form>
