{% set limit = limit ? limit : 10000 %}
{% for tag in tags[:limit] %}
  <a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, stateQuery({'q':"tag:\"#{tag.tag}\""})) }}"><tt>🏷 {{ tag.tag }}</tt></a>
{% endfor %}
{% if tags|length > limit %}<tt title="{{ (tags|length) ~ " more tags" }}">&#x2026;</tt>{% endif %}
