<form id="update" class="dialog" method="POST" action="{{ url_for('update') }}">
	<section>
		<header>
			<h3>Update metadata</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<input type="hidden" name="id" value="{{ photo.id }}">
			<input type="hidden" name="redirect" value="{{ current_url(true) }}">
			<p>Reload metadata from file?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</form>
