<iframe
	height="350" width="100%"
	frameborder="0" scrolling="no"
	marginheight="0" marginwidth="0"
	src="https://www.openstreetmap.org/export/embed.html?bbox={{ lon - 0.002  }}%2C{{ lat - 0.002 }} %2C{{ lon + 0.002  }}%2C{{ lat + 0.002 }}&amp;layer=mapnik&amp;marker={{ lat  }}%2C{{ lon }}"
	style="border: 1px solid black">

</iframe><br/>
<small><a href="https://www.openstreetmap.org/?mlat={{ lat }}&amp;mlon={{ lon }}#map=18/{{ lat }}/{{ lon }}">Visualizza mappa ingrandita</a></small>
