
<span data-controller='hihi'>
	{% for k in 0..5 %}
		<span data-action='mouseover->hihi#showFrags mouseout->hihi#hideFrags'>
	{% endfor %}
	{% set q = date.year %}
	<a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ q ~ '"'})  }}'>{{ date.year }}</a></span>

	{% set q = q ~ "-" ~ date.month %}
	- <a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ q ~ '"'})  }}'>{{ date.month }}</a></span>

	{% set q = q ~ "-" ~ date.day%}
	- <a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ q ~ '"'})  }}'>{{ date.day }}</a></span>

	{% set q = q ~ " " ~ date.hour %}
	&nbsp; <a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ q ~ '"'})  }}'>{{ date.hour }}</a></span>

	{% set q = q ~ ":" ~ date.minute %}
	: <a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ q ~ '"'})  }}'>{{ date.minute }}</a></span>
</span>
