
<dd data-controller="clipboard">
	<tt data-target="clipboard.text" data-text="{{ path }}">
		{{ path }}
	</tt>
	<a href="#" class="hidden" title="Copy path to clipboard"
		data-target="clipboard.btn"
		data-action="click->clipboard#copy"><i><img src="/img/edit-copy-symbolic.svg"></i></a>
</dd>
