
<span data-controller='hihi'>
	{% for k in path %}
		<span data-action='mouseover->hihi#showFrags mouseout->hihi#hideFrags'>
	{% endfor %}
	{% set curpath = "" %}
	{% for e in path %}
		{% set curpath = curpath ~ "/" ~ e %}
		/ <a href='{{ url_for('search', {}, {'q':name ~ ':"' ~ curpath ~ '"'})  }}'>{{ e }}</a></span>
	{% endfor %}

</span>
