<a title="{{value}}"
	href='{{ url_for('search', {}, {'q':name ~ ':' ~ value })  }}'>
		{% for x in 1..5 %}
			{% if x <= value %}
				&#x2605;
			{% else %}
				&#x2606;
			{% endif %}
		{% endfor %}
</a>
