
<div class="rating">
{% for k in 5..1 %}
	<input id="{{field}}{{k}}" name="{{field}}" type="radio" value="{{k}}" class="hidden" {% if value == k %}checked{% endif %}>
	<label for="{{field}}{{k}}">&#x2606;</label>
{% endfor %}
</div>
