{% macro label(dir) %}
<div class="folderlabel">
    {% if dir.can_enter %}
    <img class="folderimg" src="/img/folder-symbolic.svg">
    <a class="foldertext" href='{{ url_for('search', {}, {'q':'location:"' ~ dir.path ~ '"'})  }}' title="{{ dir.path }}">{{ dir.name }}</a>
    {% else %}
    <img class="folderimg" src="/img/folder-visiting-symbolic.svg">
    <span>{{ dir.name }}</span>
    {% endif %}
    <span class="foldertools">
        {% if user.can_upload and dir.can_write %}
        <a href="#" class="hidden" title="Add new subfolder"><i><img src="/img/folder-new-symbolic.svg"></i></a>
        <a href="{{ url_for('upload', {}, {'to': dir.path}) }}" title="Upload here"><i><img src="/img/share-symbolic.svg"></i></a>
        {% endif %}
    </span>
</div>
{% endmacro %}

{% macro li(dirs) %}
{% for dir in dirs %}
<li>
    {{ _self.label(dir)}}
    {% if dirs.callHasChildren() %}
    <ul>{{ _self.li(dirs.callGetChildren()) }}</ul>
    {% endif %}
</li>

{% endfor %}
{% endmacro %}

<ul>
    <li>
        <div class="folderlabel">
            <a class="folderimg" href="{{ url_for('search', {}, {}) }}"><img src="/img/user-home-symbolic.svg"></a>
            <span class="foldertext" title="{{ widget.root }}">
                {{ displayFieldValueHtml(widget.root, 'location') }}
            </span>
            <span class="foldertools">
                {% if user.can_upload %}
                <a href="#add-folder" title="Add new subfolder"><i><img src="/img/folder-new-symbolic.svg"></i></a>
                <a href="{{ url_for('upload', {}, {'to': widget.root}) }}" title="Upload here"><i><img src="/img/share-symbolic.svg"></i></a>
                {% endif %}
            </span>
        </div>
        <ul>
            {{ _self.li(widget.dirs) }}
        </ul>
    </li>
</ul>
