{% for p in widget.people %}
    <a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, stateQuery({'q':"people:\"#{p.name}\""})) }}"
       style="font-size:{{p.fontsize}}pt">{{ p.name }}</a>
{% else %}
  <div class="placeholder">No tagged people</div>
{% endfor %}
