{% for tag in widget.tags %}
    <a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, stateQuery({'q':"tag:\"#{tag.tag}\""})) }}"
       style="font-size:{{tag.fontsize}}pt">{{ tag.tag }}</a>
{% else %}
  <div class="placeholder">No tags</div>
{% endfor %}
