/* @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-3.0-or-later */
html {
    background-color: #202b38;
}

body {
    max-width: none;
    margin: 0;
    padding: 0;
}

* {
    scrollbar-color: rgba(255, 255, 255, 0.4) rgba(0, 0, 0, 0.4);
}

video {
    max-width: 100%;
}

.hidden {
    display: none !important;
}


input,
textarea {
    box-shadow: 2px 2px 2px inset rgb(0, 0, 0, 0.2);
}

input[type="submit"] {
    box-shadow: none;
}

td tt,
p tt {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.2em 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    white-space: nowrap;
}

a:has(tt) {
    border: none !important;
    text-decoration: none;
}

header {
    background-color: #202b38;
    position: fixed;
    height: 52px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 40px 0;
    z-index: 500;
}

header nav {
    display: grid;
    grid-template-columns: 1fr min-content max-content 1fr;
    justify-content: space-between;
    align-items: center;
}

header nav>a {
    justify-self: left;
    margin-right: 4px;
}

header nav>form {
    justify-self: center;
    display: flex;
    align-items: center;
}

header nav>ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-self: right;
}

nav li>hr {
    display: block;
    height: 20px;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    margin: 0 1em;
}

.pill {
    font-size: 0.8em;
    border: 1px solid;
    padding: 0 0.3em;
    border-radius: 3px;
    float: right;
}

/* messages */
.message {
    position: fixed;
    top: 0px;
    margin: 0 auto;
    padding: 0.3em 1em;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
}

.message.error {
    color: #3e0000;
    background-color: #ff5656;
}

.message.success {
    color: #003e00;
    background-color: #56ff56;
}

/* tags */
a>tt {
    font-family: inherit;
    color: #000;
    background: #41adff;
    padding: 0.1em 0.4em 0.3em;
    border-radius: 0.3em;
    white-space: nowrap;
    margin: 0 0 0.2em 0;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear, box-shadow .1s linear, transform .1s ease;
}

a:hover>tt:hover {
    background: #9dd0f8;
}

/* selected button */
a.selected,
button.selected {
    filter: invert(1);
}

/* link button */
a>b {
    display: inline-block;
    color: #fff;
    background-color: #161f27;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8.5px 10px 9px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear, box-shadow .1s linear, transform .1s ease;
}

a:hover>b {
    background: #324759;
}

a:focus>b {
    box-shadow: 0 0 0 2px rgba(0, 150, 191, .67);
}

a:active>b {
    transform: translateY(2px);
}

/* button button */
button>b {
    display: inherit;
    padding-bottom: 0.4em;
}

/* icon button */

a>i {
    display: inline-block;
    color: #fff;
    background-color: #161f27;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 8.5px 10px 4px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear, box-shadow .1s linear, transform .1s ease;
}

a:hover>i {
    background: #324759;
}

a:focus>i {
    box-shadow: 0 0 0 2px rgba(0, 150, 191, .67);
}

a:active>i {
    transform: translateY(2px);
}

a>i>img {
    filter: invert(1);
    width: 23px;
    min-width: 23px;
}

button {
    padding: 10px 10px 4px 10px;
}

button>img {
    filter: invert(1);
    min-width: 23px;
}

button.danger,
a .danger,
figure.error {
    background-color: #350808
}

figure.success {
    opacity: 0.2;
}

;

button:focus,
input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 2px rgba(0, 150, 191, .67) !important;
}

input:invalid {
    box-shadow: 0 0 0 2px rgba(255, 0, 0, .67) !important;
}

.placeholder {
    box-sizing: border-box;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.5em;
}

main {
    padding: 16px 40px;
    margin-top: 55px;
}

/* details */
details>summary {
    cursor: pointer;
}

details>summary:hover {
    color: #41adff;
}

/* vertical form: login, user edit.. */
/* any form alone on a page */
form.vertical {
    max-width: 300px;
    margin: 0 auto;
}

form.vertical input {
    box-sizing: border-box;
    width: 100%;
}

form.vertical input[type="checkbox"],
form.vertical input[type="radio"] {
    width: auto;
}

form.vertical footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

/* photo list tools */
main>form>header {
    z-index: 600;
    left: unset;
    right: 335px;
    padding: 0;
    top: 9px;
    border: 0;
    height: 48px;
}

main>form>header nav {
    display: flex;
}

/* photo list tags header */
.tags-header {
    padding-bottom: 1em;
}

.tags-header .tag {
    display: inline-flex;
    align-items: center;
    background-color: #41adff;
    border-radius: 0.3em 1em 1em 0.3em;
}

.tags-header .tag tt {
    font-family: inherit;
    color: #000;
    padding: 0 0.3em;
}

.tags-header a>i {
    border-radius: 0;
    margin: 0;
    vertical-align: middle;
}

.tags-header a>i>img {
    min-width: 12px;
    width: 15px;
}

.tags-header a:last-child>i {
    border-radius: 0 0.3em 0.3em 0;
}

.tags-header a>tt {
    vertical-align: middle;
    margin: 0;
    background-color: transparent;
}

/* photo list */
body.photos>main {
    display: flex;
}

#photolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#photolist>.placeholder {
    text-align: center;
    width: 100%;
    padding: 2em;
}

#photolist figure {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0px 16px 16px 0;
}

#photolist figure>label {
    position: relative;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 3%, rgba(0,0,0,0) 4%) no-repeat center; */
    /* animation: loading 1s ease-in-out infinite alternate; */
}

#photolist figure>label:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* @keyframes loading { */
/* 	0% { background-size: 100% 100% } */
/* 	100% { background-size: 1% 1% } */
/* } */

#photolist figure>label>img {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#photolist figure>label input {
    display: none;
    position: absolute;
    top: 6px;
    left: 6px;
}

#photolist figure>label input:checked {
    display: block;
}

#photolist figure>label a {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#photolist figure>label:hover a {
    display: block;
}

#photolist figure figcaption {
    font-size: 0.8rem;
}

#photolist figure figcaption h3,
#photolist figure figcaption p {
    margin: 0.2em 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* photolist widgets */
#widgets {
    width: 300px;
    padding-top: 10px;
    position: fixed;
    top: 64px;
    left: 1em;
    bottom: 0;
}

#widgets>section {
  max-height: 100%;
  overflow-y: auto;
}

#widgets>footer {
    display: none;
}

#widgets-footer {
    display: none;
}

.widget {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.widget>summary {
    white-space: nowrap;
    list-style: inside none url(/img/list-drag-handle-symbolic.svg);
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 0.5em;
}

.widget>section {
/*    max-height: 50vh;
    overflow-y: auto;
*/
}

.widget.folders ul {
    padding-left: 0;
    margin: 0.5em 0;
}

.widget.folders ul ul {
    padding-left: 16px;
}

.widget.folders ul li {
    display: block;
}

.widget.folders ul li>.folderlabel {
    display: flex;
    padding: 2px;
    box-sizing: border-box;
    transition: background-color 0.2s;
    border-radius: 3px;
}

.widget.folders ul li>.folderlabel>.foldertools {
    display: none;
}

.widget.folders ul li>.folderlabel>.folderimg {
    width: 12px;
    min-width: 12px;
    margin-right: 0.5em;
}

@media (min-width: 851px) {

    /* on desktop, keep space for sidebar */
    body.photos  #photosform {
         margin-left: 300px;
    }


    /* sticky on desktop 
    #widgets>section {
        position: sticky;
        top: 65px;
    }
    */

    /* folder actions are enabled only on desktop */
    .widget.folders ul li>.folderlabel:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .widget.folders ul li>.folderlabel>.foldertext {
        flex-grow: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .widget.folders ul li>.folderlabel>.foldertools {
        display: nonw;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .widget.folders ul li>.folderlabel:hover>.foldertools {
        display: flex;
        opacity: 1;
    }

    .widget.folders ul li>.folderlabel>.foldertools>a>i {
        margin: 0 0 0 0.2em;
        padding: 0 6px;
    }

    .widget.folders ul li>.folderlabel>.foldertools>a>i>img {
        min-width: 12px;
        width: 12px;
    }
}

/* photo detail */
article {
    display: flex;
    flex-grow: 2;
}

article>section {
    flex-grow: 2;
    text-align: center;
}

.display-wrapper {
    position: relative; /* to position svg overlay as absolute */
}

.face-overlay {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}
.face-overlay .face {
    pointer-events: bounding-box;
    opacity: 0;
}
.face-overlay .face.show, 
.face-overlay .face:hover {
    opacity: 1;
}

article aside {
    font-size: 0.8rem;
    min-width: 350px;
    max-width: 350px;
    margin: 0 0 0 16px;
}

article aside header {
    position: relative;
    z-index: auto;
    padding: 0;
    background-color: transparent;
}

article aside header nav {
    display: flex;
}

article aside dl {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
}

article aside dl dt {
    font-weight: bold;
}

article aside dd a {
    color: #fff;
    border-bottom: 1px dotted #41adff;
}

article aside dd a:hover {
    color: #41adff;
    border-bottom: none;
}

article aside #more {
    display: none;
}

article aside #more.open,
article aside #more:target {
    display: block;
}

/* pagination */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-self: right;
}

footer nav li {
    margin: 0.2em;
}

footer nav li>* {
    padding: 0.5em;
}

/* collection */
body.collection {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px #000;

}

.collection>header,
.collection .dialog header {
    background-color: #080a0e;
}

.collection .collection-header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: baseline;
}

.collection .collection-header p {
    margin-top: 0;
}

.collection main>form>header {
	background-color: #080a0e;
	position: fixed;
	bottom: 0;
	top: unset;
	padding: 8px 40px;
	right: 0;
	left: 0;
	box-sizing: border-box;
	height: 58px;
}

/* admin */
.admin table {
    border-collapse: separate;
}

.admin thead {
    background-color: #202b38;
    position: sticky;
    top: 60px;
    z-index: 600;
}

/* mobile */
/* breakpoints */
/* l */
@media (min-width: 851px) {
    .max-xs {
        display: none !important
    }

    .max-s {
        display: none !important
    }
}

/* s */
@media (min-width: 501px) and (max-width: 850px) {
    .max-xs {
        display: none !important;
    }

    .min-l {
        display: none !important;
    }
}

/* xs */
@media (max-width: 500px) {
    .min-l {
        display: none !important;
    }

    .min-s {
        display: none !important;
    }
}

/* styles */
/* s */
@media (max-width: 850px) {
    body {
        padding: 0
    }

    header {
        padding: 0.5em 0 0;
    }

    body>header nav {
        grid-template-columns: max-content 1fr min-content;
    }

    main {
        margin: 55px 0 0 0;
        padding: 0;
    }

    body>footer {
        margin-bottom: 80px;
    }

    body.collection>footer {
        margin-bottom: 60px;
    }

    article {
        display: block;
    }

    article aside {
        margin: 5px;
        max-width: none;
    }

    article aside dl {
	padding-bottom: 1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: block;
    }

    article aside dd {
        margin-left: 1em;
        word-break: break-all;
    }

    #photolist {
        justify-content: space-around
    }

    #photolist figure {
        margin: 0 0 16px 0;
    }

    #photolist figure>label a {
        display: block;
    }

    main>form>header {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: unset;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        padding: 10px  0.5em;
	height: 40px;
    }

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #menu ul a {
        display: block;
    }

    #menu ul a::after {
        content: attr(title);
    }

    body.photos>main {
        display: block;
    }

    #widgets {
        z-index: 10000;
        background-color: #202b38;
        /*width: 100%;*/
        margin: 0;
        position: fixed;
        /*overflow-y: auto;*/
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        padding: 1em;
        box-sizing: border-box;
        box-shadow: 0 0 10px #000;
        transform: translateX(-110%);
        transition: transform 0.3s;
    }

    #widgets:target,
    #widgets.open {
        transform: translateX(0);
    }

    #widgets>footer {
        text-align: right;
    }

    #widgets>footer,
    #widgets-footer {
        display: block;
        position: fixed;
        background-color: #202b38;
        left: 0;
        bottom: 0;
        right: 0;
        top: unset;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
	padding: 10px 0.5em;
	height: 44px;
    }

    #widgets>section {
	box-sizing: border-box;
	padding-bottom: 50px
    }

    .collection #widgets-footer {
	display: none;
    }

    .collection main > form > header {
	padding: 8px 0.5em;
    }
}

/* xs */
@media (max-width: 400px) {

    /* extra small screen, let's support older devices */
    #photolist figure {
        width: 170px;
    }

    #photolist figure>label {
        min-height: 170px;
        max-height: 170px;
    }

    #photolist figure>label a {
        display: block;
    }

    body>header nav {
        display: flex;
    }

    body>header nav> :nth-child(2) {
        flex-grow: 2;
    }

    body>header>nav>span,
    body>header nav>form {
        justify-self: stretch;
    }

    body>header nav>form>input {
        flex-grow: 2;
        width: 100px;
    }

    article aside dl {
        display: block;
    }

    article aside dd {
        margin-left: 0.5em;
        word-break: break-all;
    }




    /* older devices, but I don't like this.
	.collection .collection-header { display: block; }
	.collection .collection-header > :nth-child(1) { float: left;}
	.collection .collection-header > :nth-child(2) { float: right;}
	.collection .collection-header > :nth-child(3) { clear: both;}
	*/
}


/* dialog */


.dialog {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 800;
}

.dialog.open,
.dialog:target {
    display: block;
}

.dialog>section {
    max-width: 100%;
    width: 400px;
    background-color: #202b38;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 5px solid rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    max-height: 95vh;
}

.dialog header {
    position: relative;
    padding: 5px 16px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dialog header h3 {
    margin: 0;
}

.dialog main {
    margin: 0;
    padding: 0 16px;
    flex-grow: 2;
    overflow-y: auto;
}

.dialog p>input,
.dialog p>select,
.dialog p>textarea {
    width: 100%;
    box-sizing: border-box;
}

.dialog footer {
    padding: 5px 1em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /*display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;*/
}

.dialog footer nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* menu dialog */
#menu.dialog>section {
    left: unset;
    right: 0px;
    top: 0px;
    transform: none;
}

/*
#menu.dialog > section::before {
	display: block;
	content: " ";
	position: fixed;
	background-color: #202b38;
	right: 12px;
	top: 80px;
	width: 20px;
	height: 20px;
	border: 5px solid rgba(0,0,0,0.2);
	transform: rotate(45deg);
}
#menu.dialog section > a {
	position: fixed;
	right: 0px;
	top: 31px;
}
#menu.dialog main {
	background-color: #202b38;
	z-index: 500;
	position: relative;
}
*/

/* extra */
/* hierarchical highlighting */
.hover a {
    color: #41adff !important;
}

/* sort dialog */
#sort.dialog main {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

/*
rating input from https://stackoverflow.com/a/38604296
*/
.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    clear: both;
    overflow: auto;
    height: auto;
}

.rating>label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input:checked~label:before,
.rating>input:checked~label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #dbdbdb;
}


/* copy to clipboard buttons in sidebar */
[data-controller="clipboard"] {
    display: flex;
    align-items: center;
    width: 100%;
}

[data-controller="clipboard"] tt {
    flex-grow: 2;
}

[data-controller="clipboard"] a {
    border-bottom: none;
}

[data-controller="clipboard"] a>i>img {
    width: 1em;
    min-width: 1em;
}

/* upload */
.upload .placeholder button {
    color: #dbdbdb;
}

.upload main>form>header label {
    display: flex;
    align-items: baseline;
}

.upload main>form>header label>select {
    margin-left: 0.4em;
}

.upload #photolist {
    min-height: 50vh;
}

.upload #photolist.droptarget {
    background-color: rgba(255, 255, 255, 0.2);
    border: 5px dashed rgba(255, 255, 255, 0.6);
}

.upload #photolist figure>label>img {
    max-width: 150px;
    max-height: 150px;
}

.upload #photolist figure progress {
    width: 100%;
    color: #fff;
    background-color: #161f27;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 6px;
    outline: none;
    overflow: clip;
}

.upload #photolist figure .warning {
    display: none;
}

.upload #photolist figure.error .warning {
    display: block;
    width: 16px;
    margin: 4px;
    float: left;
    animation-name: ring;
    animation-duration: 2s;
}

.upload #select div>div {
    margin-left: 0.5em;
}

.upload #select label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5em;
}

.upload #select label>div {
    display: none;
}

.upload #select label img {
    margin-right: 0.1em;
    border-radius: 6px;
    padding: 5px;
}

.upload #select label:hover img {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .2) !important;
}

.upload #select input:checked~img {
    background-color: rgba(0, 150, 191, .67);
}

.upload #select input:active~img {
    transform: translateY(3px);
}

@keyframes ring {
    0% {
        transform: rotate(0deg)
    }

    5% {
        transform: rotate(-15deg)
    }

    15% {
        transform: rotate(15deg)
    }

    25% {
        transform: rotate(-15deg)
    }

    35% {
        transform: rotate(15deg)
    }

    50% {
        transform: rotate(-15deg)
    }

    65% {
        transform: rotate(15deg)
    }

    80% {
        transform: rotate(-15deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/* job notification popup */
#jobspopup {
	position: fixed;
	padding: 1em 2em;
	bottom: -4em;
	right: 1em;
	border-radius: 1em;
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

#jobspopup.show {
    bottom: 1em;
}
