{% for k,v in data %}
<dl>
    <dt>{{ k }}:</dt>
    <dd>
        {% if v is iterable %}
        {% for k2,v2 in v %}
        {{ k2 }} : {{ v2  }}<br>
        {% endfor %}
        {% else %}
        {% if v is same as null %}<i>unset</i>
        {% elseif v is same as false %}False
        {% elseif v is same as true %}True{% else %}
        {{ v }}
        {% endif %}
        {% endif %}
    </dd>
</dl>
{% endfor %}