{% extends "base.twig" %}

{% block bodyclass %}admin {{ adminpage }}{% endblock %}

{% block title %}Admin{% endblock %}


{% block navlist %}
				<li>
					<a href="{{ url_for('admin') }}" title="Index" class="{% if adminpage == "index" %}selected{% endif %}">
						<i><img src="/img/utilities-system-monitor-symbolic.svg"></i>
					</a>
				</li>
				<li>
					<a href="{{ url_for('admin.users') }}" title="Users" class="{% if adminpage == "users" %}selected{% endif %}">
						<i><img src="/img/system-users-symbolic.svg"></i>
					</a>
				</li>
				<li>
					<a href="{{ url_for('advanced') }}" title="Advanced Queries" class="{% if adminpage == "sql" %}selected{% endif %}">
						<i><img src="/img/utilities-terminal-symbolic.svg"></i>
					</a>
				</li>
				<li><hr></li>
{% endblock %}


{% block content %}
	<article>
		<aside>
			<figure style="max-width:256px;margin:auto">
				<img src="/img/app_256x256.png">
				<figcaption style="text-align: center;">
					<b>Pholar</b> <tt>{{ version }}</tt>
				</figcaption>
			</figure>
		</aside>
		<aside>
			<h2>Numbers:</h2>
			<dl>
				<dt>Photos:</dt><dd>{{ photos }}</dd>
			</dl>
			<dl>
				<dt>Tags:</dt><dd>{{ tags }}</dd>
			</dl>
			<dl>
				<dt>Collections:</dt><dd>{{ collections }}</dd>
			</dl>
			<dl>
				<dt>Shares:</dt><dd>{{ shares }}</dd>
			</dl>
			<dl>
				<dt>Users:</dt><dd>{{ users }}</dd>
			</dl>
			<dl>
				<dt>DB Size:</dt><dd>{{ dbsize|raw }}</dd>
			</dl>
			<dl>
				<dt>Store Size:</dt><dd>{{ storesize|raw }}</dd>
			</dl>
			<dl>
				<dt>Last Updated:</dt><dd>{{ lastupdate|raw }}</dd>
			</dl>
		</aside>
		<aside>
			<h2>Settings [<tt>{{ settings_env }}</tt>]</h2>
			{% include "admin/_kv.twig" with {'data':settings} %}
		</aside>
		<aside>
			<h2>PHP</h2>
			{% include "admin/_kv.twig" with {'data':phpinfo} %}
			<h2>Ext. Programs</h2>
			{% include "admin/_kv.twig" with {'data':exeinfo} %}
			
		</aside>


	</article>
{% endblock %}
