{% extends "admin/admin.twig" %}

{% block title %}Advanced Query{% endblock %}

{% block content %}
	<form method="POST">
		<textarea name="q" spellcheck="false" placeholder="SELECT * FROM photo">{{ where }}</textarea>
		<input type="submit" value="query"> ({{ querytime }} s)
	</form>
	{% if sqlerror != false %}
		<pre>{{ sqlerror }}</pre>
	{% else %}
		<table>
			<thead>
				<tr>
					{% for h in headers %}
						<th>{{ h }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% for photo in photos %}
				<tr>
					{% for v in photo %}
						{% if headers[loop.index0] == "photo.id" %}
							<td><a href="{{ url_for('details', {'id':v})  }}">{{ v }}</a></td>
						{% else %}
							<td>{{ v }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}

{% block footer %}
  {% include("fragments/pagination.twig") %}
{% endblock %}
