{% extends "admin/admin.twig" %}

{% block title %}Users{% endblock %}

{% block content %}
	<form>
	<header>
		<nav>
			<ul>
				<li><a href="{{ url_for('admin.users.new') }}" title="Add new user"><i><img src="/img/list-add-symbolic.svg"></i></a></li>
			</ul>
		</nav>
	</header>
	<table>
		<thead>
			<tr>
				{% for h in headers %}
					<th>{{ h|replace({'_':' '}) }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for object in objects %}
				<tr>
					{% for h in headers %}
						{% if h == 'user' %}
							<td><a href="{{ url_for('admin.users.edit', {'user': object.user}) }}">{{ object[h] }}</a></td>
						{% elseif h starts with "can_" or h starts with "is_" %}
							<td>
							{% if object[h] == '1' %}
								<img src='/img/test-pass-symbolic.svg' style='filter:invert(1)' title="Yes">
							{% else %}
								<img src="/img/circle-outline-thick-symbolic.svg" style="filter:invert(1);opacity:0.2" title="No">
							{% endif %}
							</td>
						{% elseif h == 'query' %}
							<td><tt>{{ object[h] }}</tt></td>
						{% else %}
							<td>{{ object[h] }}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</form>
{% endblock %}
