{% extends "admin/admin.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<form class="vertical" method="post" action="{{ url_for('admin.users.save') }}">
		<p>
			<label for="user">User</label>
			<input name="user"
				required="required"
				spellcheck="false"
				autocomplete="off"
				value="{{ object.user }}"
				{% if action == 'update' %}readonly="readonly"{% endif %}>
		</p>
		{% if action == 'update' %}
			<p>
				<a href="#pwd"><b>Change password</b></a>

			</p>
		{% else %}
			<p>
				<label for="password">Password</label>
				<input name="password" type="password" value="">
			</p>
			<p>
				<label for="password2">Retype password</label>
				<input name="password2" type="password" value="">
			</p>
		{% endif %}
		<hr>
		{% for k in object|keys %}
			{% if k starts with "can_" or k starts with "is_"  %}
				<p>
					<label>
						<input type="checkbox" name="{{ k }}" {% if object[k] %}checked{% endif %}> {{ k|replace({'_':' '}) }}
					</label>
				</p>
			{% endif %}
		{% endfor %}

		<hr>
		<p>
			<label for="query">User query</label>
			<textarea name="query" spellcheck="false">{{ object.query }}</textarea>
			<small>Filter what user can see. See <a href="#help">search help</a></small>
		</p>

		
		<footer>
			<nav>
				<a href="#delete"><b class="danger">Delete</b></a>
			</nav>
			<nav>
				<a href="{{ url_for('admin.users') }}"><b>Cancel</b></a>
				<button type="submit" name="action" value="{{ action }}"><b>Save</b></button>
			</nav>
		</footer>
{% if action == 'update' %}
<div id="pwd" class="dialog">
	<section>
		<header>
			<h3>Change password</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<p>Leave fields empty to not change password</p>
			<p>
				<label for="password">New password</label>
				<input name="password" type="password" value="">
			</p>
			<p>
				<label for="password2">Retype password</label>
				<input name="password2" type="password" value="">
			</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>Ok</b></a>
			</nav>
		</footer>
	</section>
</div>
{% endif %}
<div id="delete" class="dialog">
	<section>
		<header>
			<h3>Delete user</h3>
			<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
		</header>
		<main>
			<p>Are you sure?</p>
		</main>
		<footer>
			<nav>
				<a href="#"><b>No</b></a>
				<button type="submit" class="danger" name="action" value="delete"><b>Yes</b></button>
			</nav>
		</footer>
	</section>
</div>
	</form>
{% endblock %}
