{% extends "details.twig" %}

{% block display %}
{% set thumbsize = settings('app','sizes').thumb %}
<figure>
<img src="{{ thumbUrl(photo, thubsize) }}"
decoding="async" loading="lazy"
alt="{{ photo.filename }}">
<figcaption>
<audio controls>
	<source src="{{ url_for('source', {'id':photo.id}) }}?inline" type="{{ photo.mime }}">
</audio>
</figcaption>
</figure>
{% endblock %}
