<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<link rel="apple-touch-icon" sizes="256x256" href="/img/app_256x256.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/app_32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/app_16x16.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block head %}
			<title>{% block title %}{% endblock %} - Pholar</title>
			<link rel="stylesheet" href="/vendor/dark.min.css" />
			<link rel="stylesheet" href="/style.css" />
			<script src="/vendor/stimulus.umd.js"></script>
			<script>window.application = Stimulus.Application.start();</script>
		{% endblock %}
		{% block css %}
		{% endblock %}

		<meta property="og:site_name" content="Pholar" />
		<meta property="og:title" content="{{ block('title') }}">
		{% block opengraph %}
			<meta property="og:type" content="website">
			<meta property="og:image" content="{{ get_uri().withPath("/img/app_256x256.png") }}">
			<meta property="og:image:type" content="image/png">
			<meta property="og:image:width" content="256">
			<meta property="og:image:height" content="256">
		{% endblock %}
	</head>
	<body data-controller="{% block datacontroller %}{% endblock %}"
		  class="{% block bodyclass %}{% endblock %}">
		{% for name, messages in flash.getMessages() %}
			{% for message in messages %}
				<div class="message {{ name }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}
		<header>
			<nav>
				<a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, stateQuery())}}"><img src="/img/app_48x48.png" width="48"></a>

				<form action="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}) }}">
					<a href="#help" class="min-s" title="Search help"><i><img src="/img/help-faq-symbolic.svg"></i></a>
					<input type="search" name="q" spellcheck="false" placeholder="search..." value="{{ query }}">
					{% if collection.id %}
						<input type="hidden" name="c" value="{{ collection.id }}">
					{% endif %}
					{% if order %}
						<input type="hidden" name="o" value="{{ order }}">
					{% endif %}
					{% if query %}
						<a href="{{ url_for(searchroute, {'sid':share.shareuid,'cid':collection.id}, {'o': order} ) }}" title="Clear search"><i><img src="/img/entry-clear-symbolic.svg"></i></a>
					{% endif %}
				</form>
				<span class="min-l">{% if pagination %}{{ pagination.count }} photos{% endif %}</span>
				<ul class="max-s">
					<li>
						<a href="#menu">
							<i><img src="/img/open-menu-symbolic.svg"></i>
						</a>
					</li>
				</ul>
				<ul class="min-l">
					{% block headernav %}
						{% block navlist %}{% endblock %}
						{% if user.can_upload and not collection %}
							<li><a href="{{ url_for('upload') }}" title="Upload"><i><img src="/img/share-symbolic.svg"></i></a></li>
						{% endif %}
						{% if user.is_admin %}
							<li><a href="{{ url_for('admin') }}" title="Administration"><i><img src="/img/preferences-system-symbolic.svg"></i></a></li>
						{% endif %}
						{% if user and not shareid %}
							<li>
								{% if user.user == settings('app', 'autologin') %}
									<a href="/login" title="Login">
										<i><img src="/img/contact-new-symbolic.svg"></i>
									</a>
								{% else %}
									<a href="#logout" title="{{ user.user }} - Logout">
										<i><img src="/img/application-exit-symbolic.svg"></i>
									</a>
								{% endif %}
							</li>
						{% endif %}
					{% endblock %}
				</ul>
			</nav>
			{% block header %}{% endblock %}
		</header>
		<main>
			{% block content %}{% endblock %}
			{% if user %}
				{% include("fragments/logout-dialog.twig") %}
			{% endif %}
		</main>
		<footer>
			{% block footer %}{% endblock %}
		</footer>

		<div id="jobspopup"></div>

		{% include "fragments/searchhelp.twig" %}
		<div id="menu" class="dialog max-s">
			<section>
				<header>
					<span></span>
					<a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a>
				</header>
				<main>
					<ul>
						<li>
							<a href="#help" class="max-xs" title="Search help"><i><img src="/img/help-faq-symbolic.svg"></i></a>
						</li>
						{{ block('headernav')  }}
					</ul>
				</main>
			</section>
		</div>

		<script src="/js/dialog.js"></script>
		<script src="/js/hierhilight.js"></script>
		{% if user %}
			<script src="/js/poll.js"></script>
		{% endif %}
		{% block js %}
		{% endblock %}
	</body>
</html>
