{% extends "base.twig" %}

{% block bodyclass %}{% if collection %}collection{% endif %}{% endblock %}


{% block title %}
	{% if photo.title %}
		{{ photo.title  }}
	{% else %}
		{{ photo.filename  }}
	{% endif %}
	{% if collection %} - {{ collection.name  }}{% endif %}
{% endblock %}


{% block opengraph %}
	{% set thumbsize = settings('app','sizes').thumb %}
	<meta property="og:type" content="article">
	<meta property="og:updated_time" content="{{ photo.mtime }}" />
	{% if photo.title %}
		<meta property="og:title" content="{{ photo.title }}">
	{% else %}
		<meta property="og:title" content="{{ photo.filename }}">
	{% endif %}
	{% if photo.comment %}
		<meta property="og:description" content="{{ photo.comment }}">
	{% endif %}
	<meta property="og:url" content="{{ full_url_for(detailroute, {'sid':share.shareuid,'cid':collection.id,'id':photo.id}) }}">
	<meta property="og:image" content="{{ get_uri().withPath(thumbUrl(photo, thumbsize)) }}">
	<meta property="og:image:type" content="image/jpg">
	<meta property="og:image:width" content="{{ photo.width }}">
	<meta property="og:image:height" content="{{ photo.height }}">
{% endblock %}


{% block navlist %}
	{% if user.can_edit %}
		<li>

			<a href="#edit" title="Edit metadata">
				<i><img src="/img/edit-symbolic.svg"></i>
			</a>
		</li>
		<li>
			<a href="#update" title="Update metadata">
				<i><img src="/img/view-refresh-symbolic.svg"></i>
			</a>
		</li>
	{% endif %}
	{% if user.can_delete %}
		<li>
			<a href="#delete-photo" title="Delete photo">
				<i class="danger"><img src="/img/edit-delete-symbolic.svg"></i>
			</a>
		</li>
	{% endif %}
	{% if user.can_download %}
		<li>
			<a href="{{ url_for(sourceroute, {'sid':share.shareuid, 'id':photo.id}) }}" title="Download original"><i><img src="/img/document-save-symbolic.svg"></i></a>
		</li>
	{% endif %}
{% endblock %}

{% block content %}
	{# TODO move this somewere less ugly #}
	{% set mainfields = ['filename', 'title', 'description', 'pages', 'rating', 'datetime', 'type', 'filesize', 'location', 'width', 'height', 'position'] %}
	<article>
		<section>

			{% set thumbsize = settings('app','sizes').preview %}
			{% block display %}
			<div class="display-wrapper">
				<img src="{{ thumbUrl(photo, thumbsize, thumbpage) }}" alt="{{ photo.filename }}" decoding="async">

				{% if faces %}
				<!-- face rect -->
				<svg class="face-overlay" data-controller="faceoverlay" data-target="faceoverlay.container" height="{{ preview.size.height }}" width="{{ preview.size.width }}">
				<!--  viewBox="0 0 100 100"-->
				{% for f in faces %}
					<g class="face" id="face{{f.id}}" data-target="faceoverlay.face" data-action="mouseover->faceoverlay#onenter mouseout->faceoverlay#onleave">
						<rect x="{{ f.rect[2] }}%" y="{{ f.rect[1] }}%" width="{{ f.rect[0] - f.rect[2] }}%" height="{{ f.rect[3] - f.rect[1] }}%" style="stroke: white; fill: #FFFFFF00; stroke-width: 6px; stroke-linejoin:round;" />
						<text x="{{ f.rect[2] }}%" y="{{ f.rect[1] - 1 }}%" style="stroke:white; stroke-width:0.5em; fill:black; paint-order:stroke; stroke-linejoin:round">{{ f.name }}</text>
						<rect x="{{ f.rect[2] }}%" y="{{ f.rect[1] }}%" width="{{ f.rect[0] - f.rect[2] }}%" height="{{ f.rect[3] - f.rect[1] }}%" style="stroke: green; fill: none; stroke-width: 2px;" />
						{% if settings('facetool', 'enabled') and user.can_edit %}
						<foreignObject x="{{ f.rect[0] + 0.2 }}%" y="{{ f.rect[1] }}%" width="50px" height="110px">
							<a xmlns="http://www.w3.org/1999/xhtml" href="#face-edit-{{ f.id }}"><i xmlns="http://www.w3.org/1999/xhtml"><img xmlns="http://www.w3.org/1999/xhtml" src="/img/edit-symbolic.svg"></i></a>
							<a xmlns="http://www.w3.org/1999/xhtml" href="#face-delete-{{ f.id }}"><i xmlns="http://www.w3.org/1999/xhtml" class="danger"><img xmlns="http://www.w3.org/1999/xhtml" src="/img/edit-delete-symbolic.svg"></i></a>
						</foreignObject>
						{% endif %}
					</g>
				{% endfor %}
				</svg>
				{% endif %}
			</div>

			{% if photo.pages > 1 %}
					<hr>
					{% if thumbpage > 1 %}
						<a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':photo.id}, stateQuery({'tp':thumbpage-1})) }}">&lt</a> -
					{% endif %}
					{{ thumbpage  }} / {{ photo.pages }}
					{% if thumbpage < photo.pages %}
						- <a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':photo.id}, stateQuery({'tp':thumbpage+1})) }}">&gt</a>
					{% endif %}
					<!--
						 {% for p in 1..photo.pages %}
						 <a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':photo.id}, stateQuery({'tp':p})) }}" title="Page {{ p }}">
						 <img src="{{ thumbUrl(photo, 50, p) }}" alt="Page {{ p }}" decoding="async">
						 </a>
						 {% endfor %}
					-->
				{% endif %}
			{% endblock %}
		</section>
		<aside>
			{% if collection %}
				<h2>{{ collection.name }}</h2>
			{% endif %}
			<header>
				<nav>
					<span>
						{% if prev != false %}
							<a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':prev}, stateQuery()) }}" title="Previous">
								<i><img src="/img/go-previous-symbolic.svg"></i></a>
						{% endif %}
					</span>
					<span>
					</span>
					<span>
						{% if next != false %}
							<a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':next}, stateQuery()) }}" title="Next">
								<i><img src="/img/go-next-symbolic.svg"></i></a>
						{% endif %}
					</span>
				</nav>
			</header>

			{% block meta %}
				{% for field in mainfields %}
					{% set value = photo.get(field) %}
					{% if canDisplayField(photo, field) %}
						<dl>
							<dt>{{ field }}</dt>
							<dd>{{ displayFieldHtml(photo, field) }}</dd>
						</dl>
					{% endif %}
				{% endfor %}

				{% if tags|length > 0 %}
				<dl>
					<dt>tags</dt>
					<dd>
						{% with { tags : tags } %}
							{% include "fragments/tags.twig" %}
						{% endwith %}
					</dd>
				</dl>
				{% endif %}
				{% if faces|length > 0 %}
				<dl>
					<dt>people</dt>
					<dd>
						{% with { people : faces } %}
							{% include "fragments/people.twig" %}
						{% endwith %}
					</dd>
				</dl>
				{% endif %}
				<details>
					<summary>show more</summary>
					{% for field,value in photo %}
						{% if field not in mainfields and canDisplayField(photo, field) %}
							<dl>
								<dt>{{ field }}</dt>
								<dd>{{ displayFieldHtml(photo, field) }}</dd>
							</dl>
						{% endif %}
					{% endfor %}
					<dl>
						<dt>source file</dt>
							{% include "fields/extpath.twig" with {'path':extpath} %}
						{% if extpath_win %}
							{% include "fields/extpath.twig"  with {'path':extpath_win} %}
						{% endif %}
					</dl>
				</details>
			{% endblock %}

				{% if similar %}<h3>Probable duplicates</h3>{% endif %}
				<div>
				{% set thumbsize = settings('app','sizes').thumb %}
				{% for s in similar %}
					<a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid': collection.id, 'id':s.id}, stateQuery()) }}">
						<img src="{{ thumbUrl(s.id, thumbsize) }}" decoding="async" title="{{ s.filename }} ({{ s.distance }})">
					</a>
				{% endfor %}
				</div>

		</aside>
	</article>
	{% if user.can_edit %}
		{% include "fragments/edit-dialog.twig" %}
		{% include "fragments/update-dialog.twig" %}
		{% if settings('facetool', 'enabled') %}
			{% for face in faces %}
				{% include "fragments/face-edit-dialog.twig" %}
				{% include "fragments/face-delete-dialog.twig" %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if user.can_delete %}
		{% include "fragments/delete-photo-dialog.twig" %}
	{% endif %}

{% endblock %}

{% block js %}
	<script src="/js/clipboard.js"></script>
	<script src="/js/faceoverlay.js"></script>
{% endblock %}
