{% extends "base.twig" %}


{% block navlist %}
{% endblock %}

{% block content %}
<div style="max-width:500px; margin: auto">
	{% if statusCode == 404 %}
		<img src="/img/undraw_page_not_found_su7k.svg">
		<h1>{{ description }}</h1>
	{% elseif statusCode == 403 %}
		<img src="/img/undraw_elements_cipa.svg">
		<h1>{{ description }}</h1>
	{% else %}
		<img src="/img/undraw_server_down_s4lk.svg">
		<h1>{{ statusCode }} - {{ title }}</h1>
	{% endif %}
	<hr>
	{% if description %}<p>{{ description }}</p>{% endif %}
</div>
{% if displayErrorDetails %}
	<details open>
		<pre>{{ exception }}</pre>
	</details>
{% endif %}
{% endblock %}
