{% extends "base.twig" %}


{% block navlist %}
{% endblock %}

{% block content %}
	<form id="login" class="vertical" method="post" action="{{ url_for('postlogin') }}">
		<input type="hidden" name="redirect" value="{{ redirect }}">
		<p>
			<label for="username">User</label>
			<input name="username">
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" name="password">
		</p>
		<p>
			<button type="submit"><b>login</b></button>
		<p>
	</form>
{% endblock %}
