{% extends "details.twig" %}

{% block display %}
	{% if user.can_download %}
		{% if photo.width %}
			{% set height = 'calc(100vw * ' ~ (photo.height / photo.width) ~ ')'  %}
		{% else %}
			{% set height = 'calc(100vh - 150px)' %}
		{% endif %}
	<iframe src="{{ url_for(sourceroute, {'sid':share.shareuid, 'id':photo.id}, {'inline':true})  }}"
		style="width:100vw;height:{{ height  }};min-width:400px; min-height:400px; max-width: 100%; max-height: calc(100vh - 150px);">
	</iframe>
	{% else %}
	{{ parent() }}
	{% endif %}
{% endblock %}
