{% extends "base.twig" %}

{% block bodyclass %}{% if collection %}collection{% else %}photos{% endif %}{% endblock %}
{% block datacontroller %}batch widgets{% endblock %}
{% block js %}
	<script src="/js/batch.js"></script>
	<script src="/js/widgets.js"></script>
{% endblock %}


{% block title %}
	{% if collection %}
		{{ collection.name  }}
	{% else %}
		{{ pagination.count }} photos
	{% endif %}
{% endblock %}


{% block opengraph %}
	{% if collection %}
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ collection.name }}">
	<meta property="og:description" content="{{ collection.comment }}">
	{% endif %}
{% endblock %}


{% block navlist %}
	<li>
		{% include "fragments/order-button.twig" %}
	</li>
	{% if not shareid %}
	<li>
		<a href="#collections" title="Show collections">
			<i><img src="/img/collection-symbolic.svg"></i>
		</a>
	</li>
	{% endif %}
	{% if user.can_edit or user.can_download or user.can_delete %}
	<li class="hidden" data-target="batch.toolselectall">
		<a href="#" title="Select all in page" data-action="batch#selectAll"><i><img src="/img/checkbox-checked-symbolic.svg"></i></a>
	</li>
	<li class="hidden" data-target="batch.toolunselectall">
		<a href="#" title="Deselect all in page" data-action="batch#deselectAll"><i><img src="/img/checkbox-symbolic.svg"></i></a>
	</li>
	{% endif %}
{% endblock %}

{% block content %}
	{% if widgets %}
	<aside id="widgets" class="closeable">
		<section>
		{% for name, widget in widgets %}
			<details class="widget {{ name }}" data-target="widgets.widget" data-action="toggle->widgets#toggle" open>
				<summary>{{ widget.title }}</summary>
				<section>
					{% include "widgets/" ~ name ~ ".twig" %}
				</section>
			</details>
		{% endfor %}
		</section>
		<footer><a href="#"><i><img src="/img/window-close-symbolic.svg"></i></a></footer>
	</aside>
	{% endif %}
	<form id="photosform" method="post" action="{{ url_for('batch') }}">
		{% if user.can_edit %}
			{# tag edit actions #}
			{% if tags %}
				<div class="tags-header">
					{% for tag in tags %}
						<span class="tag">
							<tt>{{ tag.tag }}</tt>
							<a href="#edit-tag-{{tag.id}}"><i><img src="/img/edit-symbolic.svg"></i></a>
							<a href="#delete-tag-{{tag.id}}"><i class="danger"><img src="/img/edit-delete-symbolic.svg"></i></a>
						</span>
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
		{% if collection %}
		<div class="collection-header">
			<h2>{{ collection.name }}</h2>
			<nav>
				{% if share.valid_until %}<small>valid until {{ share.valid_until.format('Y-m-d') }}</small>{% endif %}
				{% if user.can_share %}
					{% if shares.count() == 0 %}
						<a href="#share-collection" title="Share collection"><i><img src="/img/unshared-symbolic.svg"></i></a>
					{% else %}
						<a href="#shares" title="Shares"><i><img src="/img/shared-symbolic.svg"></i></a>
					{% endif %}
				{% endif %}
				{% if user.can_edit %}
					<a href="#edit-collection" title="Edit collection"><i><img src="/img/edit-symbolic.svg"></i></a>
				{% endif %}
				{% if not shareid %}
					{# clear query and page closing a collection #}
					<a href="{{ url_for('search', {}, stateQuery({'q':null, 'p':null})) }}" title="Close collection"><i><img src="/img/window-close-symbolic.svg"></i></a>
				{% endif %}
			</nav>
			<p>{{ collection.comment  }}</p>
		</div>
		{% endif %}

		<input type="hidden" name="redirect" value="{{ current_url(true) }}">
		<header data-target="batch.tools">
			<nav>
				<ul>
				{% if user.can_download%}
					<li>
						<button type="submit" title="Download selected" name="action" value="download"><img src="/img/document-save-symbolic.svg"></button>
					</li>
				{% endif %}
				{% if user.can_edit %}
					<li>
						<button type="submit" title="Update metadata" name="action" value="update"><img src="/img/view-refresh-symbolic.svg"></button>
					</li>

					<li>
						<a href="#add-tags" title="Add tags"><i><img src="/img/edit-add-tag-symbolic.svg"></i></a>
					</li>
					<li>
						<a href="#add-to-collection" title="Add to collection"><i><img src="/img/collection-add-symbolic.svg"></i></a>
					</li>
					{% if collection %}
						<li>
							<button type="submit" title="Remove from collection" name="action" value="removefromcollection"><img src="/img/collection-remove-symbolic.svg"></button>
							<input name="removefromcollectionid" value="{{ collection.id }}" type="hidden">
						</li>
					{% endif %}
				{% endif %}
				{% if user.can_delete %}
					<li>
						<a href="#delete-photos" title="Delete photos">
							<i class="danger"><img src="/img/edit-delete-symbolic.svg"></i>
						</a>
					</li>
				{% endif %}
				</ul>
			</nav>
		</header>
		
		<div id="photolist">
		{% set thumbsize = settings('app','sizes').thumb %}
		{% for photo in photos %}
			<figure>
				<label title="{{ photo.filename }}">
					<img src="{{ thumbUrl(photo, thumbsize) }}" decoding="async" loading="lazy" alt="{{ photo.filename }}">
					{% if user.can_edit or user.can_download or user.can_delete %}
						<input type="checkbox" name="photo[]" value="{{ photo.id }}" data-target="batch.check" data-action="batch#check">
					{% endif %}
					{% if user.can_details  is same as(false) %}
					{% else %}
					<a href="{{ url_for(detailroute, {'sid':share.shareuid,'cid':collection.id,'id':photo.id}, stateQuery()) }}" title="View details">
						<i><img src="/img/preferences-system-details-symbolic.svg"></i></a>
					{% endif %}
				</label>
				<figcaption>
					{% if listfields|length > 0 %}
						<h3>{{ displayField(photo, listfields.0) }}</h3>
					{% endif %}
					{% for lf in listfields[1:] %}
						{% if photo[lf] %}
							<p>{{ displayField(photo, lf) }}</p>

						{% elseif lf == "tags" %}
							{% with { tags : tags(photo), limit : 6 } %}
								{% include("fragments/tags.twig") %}
							{% endwith %}

						{% elseif lf == "people" %}
							{% with { people : people(photo), limit : 6 } %}
								{% include("fragments/people.twig") %}
							{% endwith %}

						{% endif %}
					{% endfor %}
				</figcaption>
			</figure>
		{% endfor %}
		</div>

		{% if user.can_edit %}
			{% include "fragments/add-tags-dialog.twig" %}
			{% include "fragments/add-to-collection-dialog.twig" %}
		{% endif %}
		{% if user.can_delete %}
			{% include "fragments/delete-photos-dialog.twig" %}
		{% endif %}
		{% include "fragments/collections-dialog.twig" %}
	</form>
	{% if user.can_edit %}
		{# tag edit dialog #}
		{% for tag in tags %}
			{% include "fragments/edit-tag-dialog.twig" %}
			{% include "fragments/delete-tag-dialog.twig" %}
		{% endfor %}
	{% endif %}
	{% if user.can_upload and widgets.folders %}
		{% include "fragments/add-folder-dialog.twig" with {'widget':widgets.folders} %}
	{% endif %}
	{% if collection %}
		{% if user.can_edit %}
			{% include "fragments/edit-collection-dialog.twig" %}
		{% endif %}
		{% if user.can_share %}
			{% include "fragments/share-collection-dialog.twig" %}
			{% include "fragments/shares-dialog.twig" %}
			{% for share in shares %}
			{% include "fragments/share-details-dialog.twig" %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{{ orderDialog() }}

	<footer id="widgets-footer">
		<a href="#widgets"><i><img src="/img/orientation-portrait-right-symbolic.svg"></i></a>
	</footer>


{% endblock %}

{% block footer %}
	{% include("fragments/pagination.twig") %}
{% endblock %}
