{% extends "base.twig" %}

{% block title %}Upload{% endblock %}

{% block bodyclass %}upload{% endblock %}
{% block datacontroller %}upload dirsel{% endblock %}

{% block content %}
    <form data-target="upload.form" 
          data-action="submit->upload#submit" 
          action="{{ url_for('upload.post') }}" 
          enctype="multipart/form-data" 
          method="POST">
          <input type="hidden" name="redirect" id="redirect" value="{{ url_for('search') }}">
        <header>
            <nav>
                <ul>
                    <li data-target="upload.addfile" class="hidden">
                        <button data-action="click->upload#selectfile" title="Add file"><img src="/img/list-add-symbolic.svg"></button>
                    </li>
                    <li>
                        <input data-target="upload.fileinput" data-action="change->upload#fileInputChanged" name="file[]" type="file" multiple>
                    </li>
                    <li>
                        <a href="#select"><b>upload to <span data-target="dirsel.label">...</span></b></a>
                    </li>
                    <li>
                        <input data-target="upload.submit" type="submit" value="Upload">
                    </li>
                </ul>
            </nav>
        </header>
        <div id="select" class="dialog">
            <section>
                <header>
                    <h3>Upload to</h3>
                </header>
                <main>
                    <div>
                        {{ _self.radio({'path':'-1', 'name':'folder named from metadata date if available, otherwhise uses current date', 'can_write':true}, 0, 'folder named from metadata date', to) }}
                    </div>
                    <div>
                        {{ _self.radio({'path':'-2', 'name':'folder named from current date', 'can_write':true}, 0, 'folder named from current date', to) }}
                    </div>
                    <div>
                        {{ _self.radio({'path':'/', 'name':'/', 'can_write':true}, 0, '/', to) }}
                        {{ _self.optionradio(dirs, 0, to) }}
                    </div>
                </main>
                <footer>
                    <a href="#" data-action="click->dirsel#select"><b>Select</b></a>
                </footer>
            </section>
        </div>
    </form>

    <div id="photolist"
         data-target="upload.list" 
         data-action="dragenter->upload#startdrag dragleave->upload#exitdrag dragover->upload#startdrag drop->upload#dodrop">
        <div class="placeholder hidden" data-target="upload.placeholder">Drop file here or click on <button data-action="click->upload#selectfile" title="Add file"><img src="/img/list-add-symbolic.svg"></button> button, then click <b>Upload</b></div>
    </div>

    <template data-target="upload.figuretemplate">
        <figure>
            <label title="">
                <img src="">
                <a href="#" title="Remove" data-id="" data-action="click->upload.removefile">
                    <i><img src="/img/window-close-symbolic.svg"></i>
                </a>
            </label>
            <figcaption>
                <img class="warning" src="/img/warning-symbolic.svg">
                <progress value="0" class="hidden" style="width:100%"></progress>
                <h3></h3>
            </figcaption>
        </figure>
    </template>

{% endblock %}

{% block js %}
	<script src="/js/upload.js"></script>
	<script src="/js/dirsel.js"></script>    
{% endblock %}


{% macro optionradio(dirs, depth, current) %}
    {% for dir in dirs %}
    <div>
        {{ _self.radio(dir, depth, dir.path, current) }}
        {% if dirs.callHasChildren() %}
        {{ _self.optionradio(dirs.callGetChildren(), depth + 1, current) }}</ul>
        {% endif %}
    </div>
    {% endfor %}
{% endmacro %}

{% macro radio(dir, depth, lbl, current) %}
<label>
    <input type="radio" name="to" value="{{dir.path}}" autocomplete="off"
        class="hidden"  data-target="dirsel.radio"
        data-btn-label="{{ lbl }}"
        {% if current == dir.path %}checked{% endif %}
		{% if not dir.can_write %}disabled{% endif %}
        >
	{% if dir.can_write %}
    <img src="/img/folder-symbolic.svg">
	{% else %}
    <img src="/img/folder-visiting-symbolic.svg">
	{% endif %}
    {{ "&nbsp;"|repeat(depth)|raw }}{{ dir.name }}
</label>

{% endmacro %}