{% extends "details.twig" %}

{% block display %}
	{% if user.can_download %}
	<video controls 
		poster="{{ thumbUrl(photo, 1080) }}" alt="{{ photo.filename }}"
		preload="none">
		<source src="{{ url_for(sourceroute, {'sid':share.shareuid, 'id':photo.id}, {'inline':true}) }}" type="{{ photo.mime }}">
	</video>
	{% else %}
	{{ parent() }}
	{% endif %}
{% endblock %}
