{% extends "base.twig" %}


{% block navlist %}
{% endblock %}

{% block bodyclass %}collection{% endblock %}

{% block content %}
	<form id="login" class="vertical" method="post" action="{{ url_for('sharelogin', {'sid': shareid}) }}">
		<p>
			<label for="password">Password</label>
			<input type="password" name="password">
		</p>
		<p>
			<button type="submit"><b>login</b></button>
		<p>
	</form>
{% endblock %}
